<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTROS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='png/favicon.png') }}" type="image/png">
</head>
<body class="validacao-senha">

    <div class="container-validacao">
        <div class="input-validacao">
            <form action="/enviar-validacao" method="post" class="form-validation">

                <label class="senha" for="password">Digite a senha de confirmacao</label>
                <input name="password" type="password" id="password" placeholder="Digite sua senha">

                <button class="enviar-validacao" type="submit" id="button-password"> Enviar Validacao </button>
                <form action="{{ url_for('editar') }}" method="POST">
                    <a href="{{ url_for('mostrar_banco') }}">
                        <button type="button" id="btn-cancelar">Voltar</button>
                    </a>
                </form>
            </form>
        </div>
    </div>

    {% for aluno in tabela %}
        <div id="card-aluno">
            <p> {{ aluno[1] }} </p>
            <div id="card-email"> {{ aluno[3] }} </div>
        </div>

        <button id="btn-excluir" data-id=" {{aluno[0]}}">
            ❌
        </button>
    {% endfor %}
    {% if sucesso %}
        <div id="senha-validada"></div>
    {% endif %}
    
    {% if erro %}
        <div id="erro-validation" data-erro="{{ erro }}"></div>
    {% endif %}
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>