<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="style.css">
</head>
<body class="inicio">

    <h1 id="titulo">PAGINA INICIAL</h1>

    <div class="container-botoes">
        <form action="/banco" method="get">
            <button id="mostrar-banco">Banco</button>
        </form>

        <form action="/voltar" method="post">
            <button id="botao-voltar">Voltar</button>
        </form>
    </div>
    
</body>
</html>